<div class="layout-input-field">
  @if (inputTextField) {
    <p-floatlabel variant="on">
      <p-iconfield>
        @if (enableIcon) {
          <p-inputicon>
            <i [class]="inputIcon"></i>
          </p-inputicon>
          <input
            pInputText
            [type]="inputType"
            [formControl]="controlName"
            [invalid]="isInvalid(formcontrolName)"
            [id]="formcontrolName"
            autocomplete="off"
            fluid
            pSize="large"
          />
        }
        @if (passwordIcon) {
          <p-inputicon>
            <i
              class="password pi"
              [ngClass]="showHidePassword ? 'pi-eye' : 'pi-eye-slash'"
              (click)="togglePassword()"
            ></i>
          </p-inputicon>

          <input
            pInputText
            [type]="showHidePassword ? 'password' : 'text'"
            [formControl]="controlName"
            [invalid]="isInvalid(formcontrolName)"
            [id]="formcontrolName"
            autocomplete="off"
            fluid
            pSize="large"
          />
        }
      </p-iconfield>
      <label [for]="formcontrolName">{{ labelName }}</label>
    </p-floatlabel>
  }

  @if (radioInputField) {
    <div class="d-flex mt-4">
      <label class="mr-4" [for]="formcontrolName">{{ labelName }}: </label>
      @for (radioBtnOption of radioButtonList; track radioBtnOption.key) {
        <div class="d-flex items-center gap-2 mr-4">
          <p-radiobutton
            [inputId]="radioBtnOption.key"
            [formControl]="controlName"
            [value]="radioBtnOption.key"
            [invalid]="isInvalid(formcontrolName)"
            [id]="formcontrolName"
            autocomplete="off"
            size="large"
          />
          <label pLabel [for]="radioBtnOption.key" class="text-sm">{{ radioBtnOption.name }}</label>
        </div>
      }
    </div>
  }

  @if (calendarInputField) {
    <div class="d-flex mt-4">
      <label class="mr-4 align-content-center" [for]="formcontrolName">{{ labelName }} </label>
      <p-datepicker
        dateFormat="dd/mm/yy"
        placeholder="dd/mm/yy"
        [iconDisplay]="'input'"
        [showIcon]="true"
        inputId="icondisplay"
        style="height: 3rem"
        [formControl]="controlName"
        [invalid]="isInvalid(formcontrolName)"
      />
    </div>
  }

  @if (selectInputField) {
    <p-floatlabel variant="on">
      <p-select
        [formControl]="controlName"
        [options]="selectOptionList"
        [invalid]="isInvalid(formcontrolName)"
        [id]="formcontrolName"
        autocomplete="off"
        optionLabel="label"
        optionValue="value"
        fluid
        size="large"
        [filter]="enableSelectFilter"
        filterBy="label"
      />
      <label [for]="formcontrolName">{{ labelName }}</label>
    </p-floatlabel>
  }

  @if (isInvalid(formcontrolName)) {
    <p-message severity="error" size="small" variant="simple">
      {{ getErrorMessage(formcontrolName) }}
    </p-message>
  }
</div>
