.layout-wrapper {
    width: 100%;
    min-height: 100vh;

    .layout-main-container {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        padding: 6rem 2rem 0px;
        // margin-left: 22rem;
        overflow-x: hidden;

        &.show {
            margin-left: 22rem;
        }

        &.hide {
            margin-left: 0 !important;
        }

        .layout-main {
            padding-bottom: 2rem;
            flex: 1 1 auto;
        }

    }


}