<div class="bg-auth-layout-container">
  <div class="row auth-layout-container-center">
    <div class="col-sm-12 col-md-6 col-lg-6 auth-layout-left">
      <div class="company-logo-creation">
         <img src="../../../assets/images/logo_transparent.png" alt="logo.png" srcset="">
      </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-6 auth-layout-right">
      <p-card>
        <ng-template #content>
          <router-outlet />
        </ng-template>
      </p-card>
    </div>
  </div>
</div>
<p-toast />
