<form [formGroup]="pageFormFroup" (ngSubmit)="onFormSubmit()">
  <div class="employee-profile-container">
    <p-card class="mt-4">
      <ng-template #title>
        <div class="page-info">
          <span class="page-subtitle">Profile Creation</span>
        </div>
      </ng-template>
      <ng-template #content>
        <div class="row">
          <div class="col-sm-12 col-md-5 employee-profile-id-card">
            <img src="../../../../../assets/images/logo_transparent.png" alt="" srcset="" />
          </div>
          <div class="col-sm-12 col-md-7">
            <div class="row">
              <div class="col-sm-12">
                <app-input-field
                  [calendarInputField]="true"
                  [controlName]="pageFormFroup.controls.joiningDate"
                  [formcontrolName]="'dob'"
                  labelName="Joining Date"
                  [fieldlabels]="fieldlabels"
                ></app-input-field>
              </div>
              <div class="col-sm-12 col-md-6">
                <app-input-field
                  [inputTextField]="true"
                  [controlName]="pageFormFroup.controls.email"
                  [formcontrolName]="'email'"
                  inputType="email"
                  labelName="Email"
                  [fieldlabels]="fieldlabels"
                ></app-input-field>
              </div>
              <div class="col-sm-12 col-md-6">
                <app-input-field
                  [selectInputField]="true"
                  [controlName]="pageFormFroup.controls.department"
                  [formcontrolName]="'department'"
                  labelName="Department"
                  [selectOptionList]="departmentsList"
                  [enableSelectFilter]="true"
                  [fieldlabels]="fieldlabels"
                ></app-input-field>
              </div>
              <div class="col-sm-12 col-md-6">
                <app-input-field
                  [selectInputField]="true"
                  [controlName]="pageFormFroup.controls.designation"
                  [formcontrolName]="'designation'"
                  labelName="Designation"
                  [selectOptionList]="designationsList"
                  [enableSelectFilter]="true"
                  [fieldlabels]="fieldlabels"
                ></app-input-field>
              </div>
              <div class="col-sm-12 col-md-6">
                <app-input-field
                  [selectInputField]="true"
                  [controlName]="pageFormFroup.controls.reportingManager"
                  [formcontrolName]="'reportingManager'"
                  labelName="Reporting Manager"
                  [enableSelectFilter]="true"
                  [selectOptionList]="[]"
                  [fieldlabels]="fieldlabels"
                ></app-input-field>
              </div>
              <div class="col-sm-12 col-md-6">
                <app-input-field
                  [selectInputField]="true"
                  [controlName]="pageFormFroup.controls.employmentType"
                  [formcontrolName]="'employmentType'"
                  labelName="Employment Type"
                  [selectOptionList]="employmentTypeList"
                  [fieldlabels]="fieldlabels"
                ></app-input-field>
              </div>

              <div class="col-sm-12 col-md-6">
                <app-input-field
                  [inputTextField]="true"
                  [controlName]="pageFormFroup.controls.workLocation"
                  [formcontrolName]="'workLocation'"
                  labelName="Work Location"
                  inputType="text"
                  [fieldlabels]="fieldlabels"
                ></app-input-field>
              </div>
              <div class="col-sm-12 col-md-6">
                <app-input-field
                  [selectInputField]="true"
                  [controlName]="pageFormFroup.controls.role"
                  [formcontrolName]="'role'"
                  labelName="Role"
                  [selectOptionList]="rolesList"
                  [fieldlabels]="fieldlabels"
                ></app-input-field>
              </div>
              <div class="col-sm-12 col-md-6">
                <app-input-field
                  [selectInputField]="true"
                  [controlName]="pageFormFroup.controls.status"
                  [formcontrolName]="'status'"
                  labelName="Status"
                  [selectOptionList]="statusList"
                  [fieldlabels]="fieldlabels"
                ></app-input-field>
              </div>
            </div>
          </div>
        </div>
      </ng-template>

    </p-card>

    <div class="text-center">
      <button class="mt-4" pButton size="large" type="submit">
        <span pButtonLabel>Submit</span>
      </button>
    </div>

  </div>

</form>
