<form [formGroup]="pageFormFroup" (ngSubmit)="onFormSubmit()">
  <div class="employee-profile-container">
    <p-card class="mt-4">
      <ng-template #title>
        <div class="page-info">
          <span class="page-subtitle">Profile Creation</span>
        </div>
      </ng-template>
      <ng-template #content>
        <div class="row">
          <div class="col-sm-12 col-md-5 employee-profile-id-card">
            <img src="../../../../../assets/images/logo_transparent.png" alt="" srcset="" />
          </div>
          <div class="col-sm-12 col-md-7">
            <div class="row">
              <div class="col-sm-12 col-md-6">
                <app-input-field
                  [type]="'text'"
                  [formGroup]="pageFormFroup"
                  [controlName]="'firstName'"
                  [labelName]="'First Name'"
                  [fieldlabels]="fieldlabels"
                ></app-input-field>
              </div>
              <div class="col-sm-12 col-md-6">
                <app-input-field
                  [type]="'text'"
                  [formGroup]="pageFormFroup"
                  [controlName]="'lastName'"
                  [labelName]="'Last Name'"
                  [fieldlabels]="fieldlabels"
                ></app-input-field>
              </div>
              <div class="col-sm-12 col-md-6">
                <app-input-field
                  [type]="'email'"
                  [formGroup]="pageFormFroup"
                  [controlName]="'email'"
                  [labelName]="'Email'"
                  [fieldlabels]="fieldlabels"
                ></app-input-field>
              </div>
              <div class="col-sm-12 col-md-6">
                <app-input-field
                  [type]="'password'"
                  [showIcon]="true"
                  [formGroup]="pageFormFroup"
                  [controlName]="'password'"
                  [labelName]="'Password'"
                  [fieldlabels]="fieldlabels"
                ></app-input-field>
              </div>
              <div class="col-sm-12 col-md-6">
                <app-input-field
                  [type]="'text'"
                  [showIcon]="false"
                  [formGroup]="pageFormFroup"
                  [controlName]="'phone'"
                  [labelName]="'Phone'"
                  [fieldlabels]="fieldlabels"
                ></app-input-field>
              </div>
              <div class="col-sm-12 col-md-6">
                <app-input-field
                  [type]="'text'"
                  [showIcon]="false"
                  [formGroup]="pageFormFroup"
                  [controlName]="'role'"
                  [labelName]="'Role'"
                  [fieldlabels]="fieldlabels"
                ></app-input-field>
              </div>
              <div class="col-sm-12 col-md-6">
                <app-input-field
                  [type]="'text'"
                  [showIcon]="false"
                  [formGroup]="pageFormFroup"
                  [controlName]="'department'"
                  [labelName]="'Department'"
                  [fieldlabels]="fieldlabels"
                ></app-input-field>
              </div>
              <div class="col-sm-12 col-md-6">
                <app-input-field
                  [type]="'text'"
                  [showIcon]="false"
                  [formGroup]="pageFormFroup"
                  [controlName]="'designation'"
                  [labelName]="'Designation'"
                  [fieldlabels]="fieldlabels"
                ></app-input-field>
              </div>
              <div class="col-sm-12 col-md-6">
                <app-input-field
                  [type]="'text'"
                  [showIcon]="false"
                  [formGroup]="pageFormFroup"
                  [controlName]="'employmentType'"
                  [labelName]="'Employment Type'"
                  [fieldlabels]="fieldlabels"
                ></app-input-field>
              </div>
              <div class="col-sm-12 col-md-6">
                <app-input-field
                  [type]="'text'"
                  [showIcon]="false"
                  [formGroup]="pageFormFroup"
                  [controlName]="'status'"
                  [labelName]="'Status'"
                  [fieldlabels]="fieldlabels"
                ></app-input-field>
              </div>
              <div class="col-sm-12 col-md-6">
                <app-input-field
                  [type]="'text'"
                  [showIcon]="false"
                  [formGroup]="pageFormFroup"
                  [controlName]="'salary'"
                  [labelName]="'Salary'"
                  [fieldlabels]="fieldlabels"
                ></app-input-field>
              </div>
              
            </div>
          </div>
        </div>
      </ng-template>
    </p-card>

    <div class="text-center">
      <button class="mt-4" pButton size="large" type="submit">
        <span pButtonLabel>Submit</span>
      </button>
    </div>
  </div>
</form>
